# Introduction #

> In this lab, I am attempting to learn how to effectively clean data. To do that, I have been provided three datasets that are 'messy,' and each requires different cleaning techniques. The goal of the lab is to clean as many of the datasets in as thorough of a way before the deadline. That being said, the datasets are certainly very messy and my experience with Pandas is limited, so the cleaning done on each dataset will be imperfect.

# Dataset Preparation #

**Importing and aliasing required packages:**

In [57]:
import math
import numpy as np
import scipy as sp
import pandas as pd

### Dataset 1 ###

** Opening Excel file and creating a reference list of the column headers: **

In [58]:
df1 = pd.read_excel('./BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')
c1 = list(df1.columns.values)

df1.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

** Changing every response in columns 2 and 3 (indexes 1 and 2) to one letter for ease of manipulation: **

In [59]:
df1.loc[df1[c1[1]] == "Yes", c1[1]] = 'Y'
df1.loc[df1[c1[1]] == "No", c1[1]] = 'N'

df1[c1[1]]

0       N
1       N
2       N
3       N
4       Y
5       N
6       Y
7       N
8       Y
9       N
10      N
11      N
12      N
13      Y
14      N
15      N
16      N
17      N
18      Y
19      N
20      N
21      N
22      N
23      N
24      N
25      N
26      N
27      N
28      N
29      N
       ..
1229    N
1230    N
1231    N
1232    N
1233    N
1234    N
1235    N
1236    N
1237    N
1238    N
1239    N
1240    N
1241    N
1242    N
1243    Y
1244    N
1245    N
1246    N
1247    N
1248    N
1249    Y
1250    N
1251    N
1252    Y
1253    N
1254    N
1255    N
1256    N
1257    N
1258    Y
Name: Are you going actually going trick or treating yourself?, Length: 1259, dtype: object

In [60]:
df1.loc[df1[c1[2]] == "Male", c1[2]] = 'M'
df1.loc[df1[c1[2]] == "Female", c1[2]] = 'F'
df1.loc[df1[c1[2]] == "Other", c1[2]] = 'O'
df1.loc[df1[c1[2]] == "I'd rather not say", c1[2]] = ''

df1[c1[2]]

0       M
1       M
2       F
3       M
4       M
5       M
6       M
7       M
8       M
9       F
10      O
11      F
12      M
13      M
14      M
15      F
16      F
17      M
18      M
19      M
20      M
21      M
22      M
23      F
24      M
25      M
26      F
27
28      M
29
       ..
1229    M
1230    M
1231    O
1232    F
1233    F
1234    F
1235    F
1236    M
1237    F
1238    F
1239    F
1240    M
1241    F
1242    M
1243    M
1244    F
1245    F
1246    M
1247    F
1248    M
1249    F
1250    M
1251    F
1252    F
1253    M
1254    F
1255    M
1256    M
1257    M
1258    F
Name: Your gender:, Length: 1259, dtype: object

**Converting all ages to integers, and logging all non-integer responses:**
> Some people responded with sentences instead of numbers, which will be thrown out. Ideally, they would be parsed, but that requires more coding knowledge than I currently have, and probably an advanced neural netowrk. Instead, I logged all non-number responses, which are a negligible part of the total column (most answers are in integer form).

In [61]:
def to_num(x):
    try:
        x = int(x)
    except:
        print('Failed on: %s' %x)
        x = np.nan
        
    return x

# Apply function above to every item in column 4 as a lambda function
df1[c1[3]] = df1[c1[3]].apply(lambda x: to_num(x))

df1[c1[3]]

Failed on: Old enough to know better
Failed on: old enough
Failed on: As old as my tongue a few years older than my teeth
Failed on: 50s
Failed on: old
Failed on: nan
Failed on: nan
Failed on: 0x2A
Failed on: Fifty.  Nine.  Ish.
Failed on: nan
Failed on: Ancient
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: I remember the Nixon administration
Failed on: over retirement age
Failed on: old
Failed on: nan
Failed on: Old enough
Failed on: 50+
Failed on: 55+
Failed on: over 40
Failed on: nan
Failed on: Hahahahahaha
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: old enough
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: Old
Failed on: Older than i act
Failed on: nan
Failed on: really old
Failed on: nan
Failed on: nan
Failed on: blah
Failed on: nan
Failed on: older than I want to be
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: Not as old as you...
Failed on: Old
Failed on: Never ask a woman that question.
Failed on: Not as old as you...
Failed on: old
Failed on: nan
Failed on: nan
Failed on: Old enough
Failed on: old enough
Failed on: Same as yo mama
Failed on: nan
Failed on: nan
Failed on: 50+
Failed on: nan
Failed on: Too old to trick or treat without it being creepy
Failed on: nan
Failed on: nan
Failed on: ancient
Failed on: Old enough to not Trick or Treat.
Failed on: nan
Failed on: 49 11/12ths
Failed on: nan

0       22.0
1       45.0
2       48.0
3       57.0
4       42.0
5       41.0
6       47.0
7       28.0
8       44.0
9       41.0
10      34.0
11      46.0
12      41.0
13      45.0
14      40.0
15      31.0
16      33.0
17      35.0
18      49.0
19      44.0
20      45.0
21      34.0
22      48.0
23      16.0
24      60.0
25      30.0
26      51.0
27      31.0
28      51.0
29      33.0
        ...
1229    31.0
1230    51.0
1231    33.0
1232    25.0
1233    29.0
1234    26.0
1235    44.0
1236    24.0
1237    31.0
1238    71.0
1239    32.0
1240    27.0
1241    26.0
1242    46.0
1243    45.0
1244    45.0
1245     NaN
1246    31.0
1247    31.0
1248    27.0
1249    47.0
1250    35.0
1251    34.0
1252    56.0
1253    54.0
1254    52.0
1255    33.0
1256     NaN
1257    48.0
1258    44.0
Name: How old are you?, Length: 1259, dtype: float64

**Converting all responses to integers, for ease of manipulation: **
> Here, I went through every candy column and converted the responses, which could be either 'JOY', 'MEH', or 'DESPAIR' (or no response) to integer values. This would allow me in the future to do more advanced manipulations, such as finding the mean feeling towards a certain candy. In this case, 'JOY' is a 10, 'MEH' is a 5, and 'DESPAIR' is a 0. I applied this to all 100 columns where the answers are limited to those three (or no response). If there is no response, I logged it as a NaN, instead of making it 0 (then every no response would be a 'DESPAIR'). This step would ultimately make analysis in the future much easier.

In [27]:
def to_value(x):
    try:
        if 'J' in x:
            x = 10
        elif 'M' in x:
            x = 5
        elif 'D' in x:
            x = 0
    except:
        x = np.nan
        
    return x

# run on each 'JOY', 'MEH', 'DESPAIR' column
for i in range(6, 106):
    df1[c1[i]] = df1[c1[i]].apply(lambda x: to_value(x))
    
df1[c1[6]]

0       10.0
1        5.0
2       10.0
3       10.0
4        5.0
5       10.0
6        0.0
7        5.0
8        5.0
9        0.0
10      10.0
11       5.0
12       5.0
13       5.0
14       5.0
15       5.0
16      10.0
17       NaN
18       5.0
19       5.0
20      10.0
21       5.0
22       5.0
23       5.0
24       NaN
25       5.0
26       5.0
27       5.0
28       5.0
29      10.0
        ...
1229    10.0
1230    10.0
1231    10.0
1232     0.0
1233    10.0
1234     5.0
1235    10.0
1236     5.0
1237     5.0
1238    10.0
1239    10.0
1240     0.0
1241     5.0
1242    10.0
1243    10.0
1244    10.0
1245     5.0
1246     NaN
1247    10.0
1248     5.0
1249     5.0
1250    10.0
1251    10.0
1252    10.0
1253     5.0
1254    10.0
1255    10.0
1256    10.0
1257     NaN
1258    10.0
Name:  [100 Grand Bar], Length: 1259, dtype: float64

**Dataset 1 further steps:**
> If I had more time with the candy data, I would rename every single column header (as they are pretty useless right now), and I would actually analyze my data. I would also look at the columns that I didn't get to in order to find the cleaning method that's right for them. Finally, I would try to convert every country to a code, so that I could do analysis based on region. I do not have the coding expertise or time to do most of these steps.

### Dataset 2 ###

***Opening Excel file and creating a reference list of the column headers:***

In [ ]:
df2 = pd.read_excel('./attendance.xls', skiprows=2)
c2 = list(df2.columns.values)

df2.drop(df2.index[0])

df2.head()

***Dataset 2 further steps:***

> No cleaning steps have been taken to clean dataset 2. That is largely due to both the amount of time it took to learn pandas cleaning in dataset 1, and also due to  the lack of time I have had to work on datasets two and three. Unfortunately, after completing my cleaning on dataset 1, I had to both go on a college visit trip and write ~5000 words of supplementals. Regardless, there are a many things I would do to dataset 2 if given the time.

> If I had more time to work on dataset 2, I would primarily spend time reorganizing the column sections into distinc columns of their own. Since each is currently split up into subsections, it would be easier to find and ultimately analyze specified data. Then I would convert each item in the dataframe (not including the row/column headers) from a string to a float. This might include removing all of the parentheses. I would then convert all of the extraneous symbols in the items to NaN's, so that they can be either ignored or used easier. Finally, I would begin my analysis, because the data is at that point cleaned.

### Dataset 3 ###

***Opening Excel file and creating a reference list of the column headers:***

In [ ]:
df3 = pd.read_csv('./sales.csv', encoding='ISO-8859-1')
c3 = list(df3.columns.values)

df3.head()

***Dataset 3 further steps:***
> Similarly to dataset 2, I did not have time to work on dataset 3. That being said, tehre are several things I would do to dataset 3 if given the time.

> If I had more time to work on dataset 3, I would begin by changing every 'NULL' to NaN, so that they can be searched for more easily and either used/ignored. Then, I would change every item in the major_cat_name and minor_cat_name columns to only one letter, similarly to how I did for dataset 1. After this, I would change every item in the ticket_text to have slashes instead of spaces, but only if there are more than two consecutive spaces (so that it doesn't change the spaces in between words). Finally, I would change every 'NA' to a 0, so that they can both be distinguished from the 'NULL's (which would be at that point NaN's) and so that they can be easier to analyze. I would then begin my analysis, because the data is at that point cleaned.

> It is very unfortunate that I did not have the time to clean this dataset, as it particularly interested me. I have the skillset to do all of the cleaning that I mentioned above, but it could take anywhere from 2-4 hours to do, and I just can't spare any more time outside of class to work on this lab.

# Acknowledgements #

*** Ms. Sconyers: ***
> I would like to thank Ms. Sconyers for both providing the datasets for this lab as well as helping the class figure out how to drop different rows/columns. She was very helpful in helping me learn how to use pandas more effectively.